data/mysql
data/elasticsearch
frontend/node_modules/
backend/build/
.idea/
backend/.gradle/
backend/HELP.md
frontend/dist/
backend/src/main/resources/application-secret.yml
backend/uploads
backend/src/test/java/io/streak/habitflow/JasyptTest.java
.env